@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ZapTech</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        .logo {
            width: 240px;
            height: 240px;
            height: auto;
            margin-top: 20px;
        }

        .header-content {
            margin-top: 2rem;
            text-align: center;
        }

        .headline {
            font-size: 2.5rem;
            font-weight: bold;
        }

        .subheadline {
            font-size: 1.25rem;
            color: #555;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header-content">
            <!-- Logo Section -->
            <h1 class="headline">Welcome to</h1>
            <img src="~/logo/zaptechlogo.png" alt="ZapTech Store Logo" class="logo mb-4" />
            <p class="subheadline">A simple CRUD application for managing your product inventory. <br>Easily create, read, update, and delete product records.</p>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
